<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Technical Analysis</title>
</head>
<body>
    <div class="top">
        <h1 class="h1_header">Technical analysis tool</h1>
        <h2 class="h2_header">Chart pattern recognition</h2>
    </div>

    <div class="search">
        <form method="post">
            <input type="text" name="stock-name" placeholder="stock name" required="required">
        </form>
    </div>

    <div class="plot-settings">

    </div>

    <div class="plot">

    </div>
</body>
</html>